
$font: "El Messiri", sans-serif;
$bg: #eeeeee;
$accent:#656262;

*{
    font-family: $font;
}
.imageDiv{
    background-color: $bg;
    border-radius: 10px;
    border: 1px solid $accent;
    height: max-content;
    overflow: auto;
    text-align: center;
}
.imageHeader{
    padding: 5px;
    background-color:$accent;
    font-size:x-large;
    font-family: $font;
    color: #eeeeee;
}

.image{
    width: 200px;
    height: 200px;
    object-fit: scale-down;
    border-radius: 10px;
    cursor: pointer;
}