@import "imag_hover";

$bg_dark_color: #030f27;
$green_color: #008D60;
$redItems:#FF0036;
$timperItems:#FF741A;
$ofWhite:#E5E5E5;
$font_header_size: 16px;

.logo_dive {
  background-color: $bg_dark_color;
  height: 150px ;
  width: 100%;
  border-radius: 10px;
  position: relative;
  text-decoration:none;
  font-family: 'El Messiri', sans-serif;
  .logoFottor{
    background-color: $redItems;
    width: 100%;
    position: absolute;
    bottom: 0;
    font-size: $font_header_size;
    height: 40px;
    color: white;
    border-radius: 0px 0px 10px 10px;
    margin: auto;
    a:hover {
      color: $bg_dark_color;
      text-decoration:none
    }
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    height: 50px;
    width: 150px;
  }
  .headers{
    a:hover {
      color: $green_color;
      text-decoration:none;
      animation: pulse; /* referring directly to the animation's @keyframe declaration */
      animation-duration: 1s; /* don't forget to set a duration! */
    }
    .headerWight{
      color: white;
      font-size: 18px;
     
    }
    .header_temper{
      color: $timperItems;
      font-size: 24px;

    }
  }
}

.item_custom{
  background-color: white;
  height: 100px;
  border-radius: 5px;
  box-shadow: 2px 2px 3px grey;
}

.customClass-1{
  background-color: white;
  border-left: 8px solid #2B81FF;
  height: 90px;
  border-radius: 5px;
  box-shadow: 2px 2px 3px grey;
  font-family: 'El Messiri', sans-serif;
  font-size: $font_header_size;
  &:hover {
    border-left: 8px solid $redItems;
    text-decoration: none;
  }
  .customTest{
    color: black;
    font-size: 24px;
    &:hover{
      animation: swing; 
      animation-duration: 1s; 
    }
  }
}
.customClass-2{
  background-color: white;
  border-left: 8px solid #FF587F;
  height: 90px;
  border-radius: 5px;
  box-shadow: 2px 2px 3px grey;
  font-family: 'El Messiri', sans-serif;
  font-size: $font_header_size;
  &:hover {
    border-left: 8px solid $bg_dark_color;
    font-weight: bold;
  }
  .customTest{
    color: black;
    font-size: 24px;
    text-decoration: none;
    &:hover{
      animation: swing; 
      animation-duration: 1s; 
    }
  }
}
.customClass-3{
  background-color: white;
  border-left: 8px solid #87BF50;
  height: 90px;
  border-radius: 5px;
  box-shadow: 2px 2px 3px grey;
  font-family: 'El Messiri', sans-serif;
  font-size: $font_header_size;
  &:hover {
    border-left: 8px solid $redItems;
    font-weight: bold;
  }
  .customTest{
    color: black;
    font-size: 24px;
    text-decoration: none;
    &:hover{
      animation: swing; 
      animation-duration: 1s; 
    }
  }
}
.customClass-4{
  background-color: white;
  border-left: 8px solid #FFB349;
  height: 90px;
  border-radius: 5px;
  box-shadow: 2px 2px 3px grey;
  font-family: 'El Messiri', sans-serif;
  font-size: $font_header_size;
  &:hover {
    border-left: 8px solid $green_color;
    font-weight: bold;
  }
  .customTest{
    color: black;
    font-size: 24px;
    text-decoration: none;
    &:hover{
      animation: swing; 
      animation-duration: 1s; 
    }
  }
}

.custumCard{
  .header{
    background-color: $bg_dark_color;
    color: white;
    border-radius: 10px 10px 0px 0px;
    font-size: 20px;
    position: relative;
    &:hover{
      background-color: $bg_dark_color;
    }
  }
  border-radius: 10px 10px 0px 0px;
  background-color: white;
  font-family: 'El Messiri', sans-serif;
  box-shadow: 2px 2px 3px grey;
}



