<div class="container_c">
    <div class="header-c">
        <p class="text-Header">{{centerName}}</p>
    </div>
    <div class="mainDive">
        <div>
            <mat-progress-bar color="accent" mode="indeterminate" *ngIf="isLoading" value="20"></mat-progress-bar>
        </div>
        <div style="margin-top:2%; margin-left: 1%; margin-right: 1%;">
            <nz-tabset>
                <nz-tab nzTitle="Patients">
                    <form>
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Voucher Numbers</mat-label>
                            <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto"
                                [(ngModel)]="searchInout" (keyup.enter)="search()" (click)="onSearchClick()">
                            <mat-icon color="accent" matSuffix>search</mat-icon>
                            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                                <mat-option *ngFor="let option of filteredOptions | async" [value]="option"
                                    (click)="OnHumanSelected(searchInout)">
                                    {{option}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </form>
                    <div>
                        <nz-table #basicTable nzSize="middle" [nzData]="centerAdminList">
                            <thead>
                                <tr>
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>IDNumber</th>
                                    <th>Phone</th>
                                    <th>Phone</th>
                                    <th>VoucherNo</th>
                                    <th>CycleStatues</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let element of basicTable.data">
                                    <td>{{element?.patientCycle?.patient?.patientCode}}</td>
                                    <td>{{element?.patientCycle?.patient?.patientName}}</td>
                                    <td>{{element?.patientCycle?.patient?.patientIDNumber}}</td>
                                    <td> {{element?.patientCycle?.patient?.phone}}</td>
                                    <td> {{element?.patientCycle?.voucherNo}}</td>
                                    <td> {{element?.cycleStatues}}</td>
                                    <td>
                                        <button mat-icon-button color="primary"
                                            (click)="confirmation(contentTestedDone,element)">
                                            <mat-icon>done</mat-icon>
                                        </button>|
                                        <button mat-icon-button color="accent" (click)="details(content,element)">
                                            <mat-icon>info</mat-icon>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </nz-table>
                    </div>

                </nz-tab>
                <nz-tab nzTitle="Tab 2">

                </nz-tab>
            </nz-tabset>
        </div>
        <!--end of flex -->




    </div>
</div>

<!--details-->
<div>
    <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title text-center" id="modal-basic-title">Details</h4>
        </div>
        <div class="modal-body">
            <div class="mt-2" style="text-align: center;">
                <!--table-->
                <table class="table table-bordered font-m ">
                    <thead class="thead-light">
                        <tr>
                            <th>Injection Date</th>
                            <th>Injection payment</th>
                            <th>Injection Eye</th>
                            <th>Oct Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of centerAdminDetailsList">
                            <th>{{ item.patientCycle.injectionDate}}</th>
                            <th>{{ item.patientCycle.injectionPayment }}</th>
                            <th>{{ item.patientCycle.injectionEye}}</th>
                            <th>{{ item.patientCycle.octDate}}</th>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

        <!-- <div>
            <app-patient-tests-report></app-patient-tests-report>
        </div> -->

        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Close</button>
        </div>

    </ng-template>

</div>
<!--comfiramion-->
<div class="font-m">
    <ng-template #contentTestedDone let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Confirm Patient Make Test </h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="rounded m-1 bg-custom">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-4">
                            <h3 class="text-muted">Patient Name:</h3>
                        </div>
                        <div class="col-8">
                            <h2 class="text-center font-m text-dark">
                                {{centerAdminModel.patientCycle.patient.patientName}}</h2>
                        </div>
                    </div>
                </div>
                <nz-upload [(nzFileList)]="fileList" [nzBeforeUpload]="beforeUpload">
                    <button *ngIf="isUploadImpty" nzBlock nz-button><i nz-icon nzType="upload"></i>Select File</button>
                </nz-upload>
            </div>
        </div>
        <div class="modal-footer">
            <button nz-button [nzType]="'primary'" [nzLoading]="uploading" (click)="handleUpload()"
                [disabled]="fileList.length == 0" style="margin-top: 16px">
                {{ uploading ? 'Uploading' : 'Save Statues' }}
            </button>

            <!-- <button type="button" class="btn btn-outline-dark" (click)="onupdateStatues()">Save</button> -->
        </div>
    </ng-template>

</div>