.mat-card-header {
  display: flex;
  flex-direction: row;
  background: #f6f6f6;
  border-radius: 4px;
  border: 1px solid #233238;
}

.mat-form-field {
  font-size: 12px;
}

.mat-card {
  margin-bottom: 2px;
}
